doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../styles/send.css")
        title Admin Panel
    body 
        <div class="price-main">
    img( class="Line" src="../assets/Line 1.png", alt="")
    <div class="price-contauner">
    img( class="yellow-tabl" src="../assets/yellowtabl.png", alt="")
    <div class="price-contauner__main"> 
        h1(class="DEVELOPMENT") Админ панель
        <p class="change"> Login:</p>
        input(id="login" class="price" type="text" placeholder="login")
        br
        <p class="change"> Password: </p>
        input(id="password" class="price" type="password" placeholder="password")
        br
        button(id="button" class="PressMe m-top-40 fs-20") CONNECT
    script
        include ../scripts/auth.js