
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- link(rel="stylesheet", href="../styles/blocks.css")
        //- <link rel="stylessheet" href="../styles/blocks.css" >
        link(rel="stylesheet", type="" href="../../styles/blocks.css")
        title blocks
    body 
        //- img( class="Line" src="../assets/Line 1.png", alt="")
        //-     img( class="yellow-tabl" src="../assets/yellowtabl.png", alt="")
    h1(class="test") Test

    div(class="ADMIN_PANEL")
        h1 ADMIN PANEL
        div(class="three-button")
        button(class="button__panel") DEVELOPMENT
        p 10$
        button(class="button__panel") ITSOFTWARE 
        p 30$
        button(class="button__panel") BUSINESS
        p 30$
