.ADMIN_PANEL{
    background-color: aqua;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.asd{
    width: 200px;
    height: 200px;
    background-color: blue;
}