body {
  font-family: "Source Code Pro", monospace;
	margin: 0;
  
}
.slide{
    width: 100%;
    height: 100vh;
}
.left-part {
  width: 50%;
  height: 100vh;
}
.mrgin-left-50 {
  margin-left: 50px;
}
.pos-absolute {
  position: absolute;
}

.black-lap {
  width: 32px;
  height: 32px;

  background-color: black;
  border-radius: 50%;
}
.png {
  margin: 10px auto 20px;
  display: block;
}
.big-text {
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
}
.litle-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}
.black-button button {
  width: 236px;
  height: 75px;
  color: aliceblue;

  background-color: black;

  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;

  padding: 20px;
  transition: 0.5s all;
}
.black-button button:hover {
  box-shadow: 1px 5px 10px 2px rgb(0, 0, 0);
  /* transform: scale(1.1,1.1); */
}
.fat-text {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;

  
}
.margin-auto{
  margin: auto;

}
.top-90 {
  margin-top: 90px;
}
.left-50 {
  margin-left: 50px;
}
.font-size-20 {
  font-size: 20px;
}
.backgraund-yellow {
  background-color: #ddf247;
}
.border-none {
  border: none;
  outline: none;
}
.flex-row{
  flex-direction: row;
}
.vector {
  width: 40px;
  height: 40px;
  background-color: #f4f4f4;
  margin-bottom: 240px;
  margin-left: 20px;
}
.litle-fat-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.alain-center {
  display: flex;
  align-items: center;
}
.bottom-90 {
  margin-bottom: 90px;
}
.color-FFF {
  background-color: #ffffff;
}
.backgraund-black {
  background-color: black;
}
.flex-diar-row {
  flex-direction: row;
}
.right-0{
  right: 0;
}
.top-0{
  top:0;

}
.top-300{
  top: 300px;
}
.margin-auto{
  margin: auto;
}
.margin-top{
  margin-top: 200px;
}
.margin-left-200{
  margin-left: 200px;
}
.flex-diar-colum{
  display: flex;
  flex-direction: column;
}
.font-size-5{
  font-size: 5px;
}