body {
  font-family: "Source Code Pro", monospace;
  margin: 0;
}
.slide {
  width: 100%;
  height: 100vh;
}
.left-part {
  width: 50%;
  height: 100vh;
}
.mrgin-left-50 {
  margin-left: 50px;
}
.pos-absolute {
  position: absolute;
}

.black-lap {
  width: 32px;
  height: 32px;

  background-color: black;
  border-radius: 50%;
}
.png {
  margin: 10px auto 20px;
  display: block;
  cursor: pointer;
}
.big-text {
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
}
.litle-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}

.foryou {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}
.black-button button {
  width: 236px;
  height: 75px;
  color: aliceblue;

  background-color: black;

  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  padding: 20px;
  transition: 0.5s all;
}
.black-button button:hover {
  box-shadow: 1px 5px 10px 2px rgb(0, 0, 0);
  /* transform: scale(1.1,1.1); */
}
.fat-text {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}
.margin-auto {
  margin: auto;
}
.top-90 {
  margin-top: 90px;
}
.left-50 {
  margin-left: 50px;
}
.font-size-20 {
  font-size: 20px;
}
.backgraund-yellow {
  background-color: #ddf247;
}
.border-none {
  border: none;
  outline: none;
}
.flex-row {
  flex-direction: row;
}
.vector {
  width: 40px;
  height: 40px;
  background-color: #f4f4f4;
  margin-bottom: 240px;
  margin-left: 20px;
}
.litle-fat-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.alain-center {
  display: flex;
  align-items: center;
}
.bottom-90 {
  margin-bottom: 90px;
}
.color-FFF {
  background-color: #ffffff;
}
.backgraund-black {
  background-color: black;
}
.flex-diar-row {
  display: flex;
  flex-direction: row;
}
.right-0 {
  right: 0;
}
.top-0 {
  top: 0;
}
.top-300 {
  top: 300px;
}
.margin-auto {
  margin: auto;
}
.margin-top {
  margin-top: 200px;
}
.margin-left-200 {
  margin-left: 200px;
}
.flex-diar-colum {
  display: flex;
  flex-direction: column;
}
.font-size-20 {
  font-size: 20px;
  font-weight: 400;
}
.width-100 {
  width: 100%;
}
.color-white {
  color: white;
}
.j-center {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.warning-input {
  background: #f24747;
  box-shadow: 0px 21px 127px 22px rgba(238, 38, 38, 0.765);
}
.color-blue {
  color: rgb(53, 90, 97);
}
.green-lap {
  width: 28px;
  height: 28px;
  border-radius: 10px;
  /* background-color: rgb(40, 110, 40); */
  background-color: rgb(110, 40, 40);
  display: flex;
  align-items: center;
  justify-content: center;
}
.white-lap {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.color_rad-lap {
  color: rgb(110, 40, 40);
  font-size: 15px;
}
.color-greeen {
  background-color: rgb(30, 255, 0);
}
.d_flex {
  display: flex;
}
.first-line:first-line {
  font-size: 30px;
}
.color-yellow {
  color: #ddf247;
}
.m-0 {
  margin: 0%;
}
.m-20 {
  margin: 0px 20px;
}
.m-top-30 {
  margin-top: 30px;
}
.black-button .transparent {
  border: none;
  background-color: rgba(0, 0, 0, 0.37);
}
.white-line {
  width: 100%;
  height: 2px;
  position: absolute;
  margin-bottom: 110px;
  background-color: #ffffff;
}
.color-yellow {
  color: #ddf247;
}
.color-grey {
  color: rgb(121, 121, 121);
}
.opacity_1 {
  opacity: 1;
  animation: AnimationBlock 0.3s ease-out 1 alternate 0s forwards;
}
.scrolling {
  transition: 3s all;
}
body.scroll-lock {
  overflow: hidden;
}

.hidden {
  overflow-x: hidden;
}

