@media screen and (max-width: 1400px) {

    
}
@media screen and (max-width: 1140px) {
  .first-slide {
    width: 100%;
    height: 100%;

    position: relative;
    top: 0;
    left: 0;

    background-color: #f4f4f4;
    background-repeat: no-repeat;
    background-clip: inherit;
    background-size: 100%;
  }
  .line-first {
    width: 550px;
  }
  .list {
    width: 500px;
    left: -150px;
  }
  .men {
    width: 480px;
  }
  .Vector {
    position: absolute;
    z-index: 3;
    width: 200px;
    bottom: -10%;
  }
  .Name {
    width: 276px;
    height: 47px;
    font-size: 5px;
  }
  .Name li {
    font-size: 20px;
  }
  .left-part {
    width: 50%;
    height: 100vh;
  }
  .right-part {
    width: 50%;
    height: 100vh;
  }

  .big-text {
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 50px;
  }
  .big-text p {
    padding: 0;
    margin: 0;
  }
  .header {
    width: 500px;
    height: 100px;
  }
  .header p {
    font-size: 18px;
    font-weight: 200px;
  }
  .fat-text {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
  }

  .three-button {
    width: 840px;
    height: 350px;
  }
  .three-button button {
    width: 257px;
    height: 257px;

    border-radius: 5%;
  }
  .window-2 {
    width: 500px;
    height: 400px;
  }
  .yellow-tabl {
    width: 130px;
    height: 130px;
  }
  .block__big-text {
    font-size: 1px;
    font-weight: 200;
  }
  .little-text {
    font-size: 13px;
    font-weight: 400;
  }
  .slide-blackman_big_block{
    width: 350px;
    background-color: aqua;
  }
  .block__University{
    font-size: 10px;
  }
  .block__Showcase{
    font-size: 10px;
  
  }
  .block__big-text{
    font-size: 15px;
  }
  .slide-blackman_black-block{
width: 450px;
height: 450px;
 
 }
 .black-block__yellow-block{
width: 400px;
height: 470px;

 }
 .black-block__TUTORS{
font-size: 17px;
font-weight: 100;
 }
 .TUTORS__text-2{
  font-size: 35px;
 }
 .black-block__bleck-man{
width: 300px;
 }
}
@media screen and (max-width: 780px) {
  .first-slide {
    height: 100vh;
  }
  .left-part {
    width: 50%;
    height: 100vh;
  }
  .right-part {
    width: 50%;
    height: 100vh;
  }

  .big-text {
    font-size: 26px;
    margin-bottom: 10px;
    line-height: 30px;
  }
  .big-text p {
    padding: 0;
    margin: 0;
  }
  .list {
    right: 0;
    left: 30px;
  }
  .header {
    width: 500px;
    height: 100px;
  }
  .header p {
    font-size: 18px;
    font-weight: 200px;
  }
}
