.popup_block {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  width: 800px;
  height: 600px;
  border-radius: 20px;
  background-color: rgb(0, 13, 14);
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}
.container_popup {
  /* width: 600px;
  height: 500px; */
  /* margin: auto; */
  /* background-color: #13fab5; */
}
.popup-cross {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.popup_fat-text {
  font-size: 50px;
  font-weight: 900;
  color: rgb(0, 238, 255);
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.popup-transparent-text {
  display: flex;
  justify-content: center;
  color: rgb(46, 116, 113);
}
.popup-input {
  width: 100%;
  /* width: 600px;
  height: 100px; */
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 30px;

  font-size: 18px;

  padding: 20px 0;

  border: none;
  outline: none;

  background: #ddf247;
  box-shadow: 0px 21px 127px 22px rgba(221, 242, 71, 0.3);
}
.popup_button {
  width: 300px;
  height: 50px;
  background-color: rgb(0, 160, 160);
  display: flex;
  justify-content: center;
  border-radius: 30px;

  border: none;
  font-size: 15px;
}
.popup_link {
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.popup_basement {
  color: rgb(39, 38, 38);
  display: flex;
  justify-content: center;
}
.window-appears{
  width: 420px;
  height: 50px;
  background-color: #ff46468a;
  bottom: 10px;
  right: 10px;
  border-radius: 10px;

  position: fixed;
z-index: 20;
display: flex;
align-items: center;
justify-content: center;
}
.window-appears__green{
  width: 420px;
  height: 50px;
  background-color: #66fd2a8a;
  bottom: 10px;
  right: 10px;
  border-radius: 10px;

  position: fixed;
z-index: 20;
display: flex;
align-items: center;
justify-content: center;
}
.popup-window-appears_container{
  width: 400px;
  height: 30px;
  display: flex;
  flex-direction: row;
  
}

.popup__text{
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.text-center {
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: center;
}
.WindowAppears_exit{
  bottom: 15px;
  right: 15px;
  text-decoration: none;
  color: black;
  position: absolute;
}
.first-slide {
  /* width: 100%;
  height: 100%;

  position: relative;
  top: 0;
  left: 0;

  overflow: hidden; */
  background-color: #f4f4f4;
}
.slide {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: hidden;
  /* overflow-y: auto; */
}
.slide-blackman{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
.header {
  width: 600px;
  height: 100px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header p {
  font-size: 22px;
  font-weight: 250px;
}

.line-3 {
  width: 20px;
  height: 20px;

  margin-left: 40px;
  margin-bottom: 5px;
}
.right-part {
  width: 50%;
  height: 100vh;

  position: relative;
  right: 0;
  top: 0;
}
.line-first {
  width: 650px;
  height: 500px;
  margin-left: 123px;
  margin-top: 30%;
  right: 0;
  bottom: 0;
}
.list {
  position: absolute;
  z-index: 1;
  /* margin-bottom: 30px; */
  bottom: 30px;
  right: 250px;
}
.men {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 10px;
  opacity: 0;
}
.men-active {
  transition: 0.5s all;
  opacity: 1;
}
.Vector {
  position: absolute;
  z-index: 3;
  bottom: -15%;
  right: 100px;
}
.line-4 {
  position: absolute;
  z-index: 4;
  left: 400px;
  top: 800px;
}
.Name {
  width: 376px;
  height: 67px;
  background: rgba(1, 1, 1, 0.5);
  backdrop-filter: blur(15px);
  position: absolute;
  z-index: 4;
  bottom: 0;
  color: aliceblue;
}
.redlap {
  position: absolute;
  z-index: 4;
  left: 30px;
  top: 15px;

  font-size: 40px;
}
.Name li {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 30%;
  position: absolute;
  z-index: 4;
}

.third-slide {
  width: 100%;
  height: 600px;
  background: #f4f4f4;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.left-slide {
  width: 600px;
}
.grey-block {
  width: 100%;
}
.slider {
  width: 250px;
  height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.slider button {
  width: 50px;
  height: 10px;

  display: flex;
  flex-direction: row;
}
.right-slide {
  width: 1200px;
  height: 905px;
}
.three-button {
  width: 1200px;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;

  transition: 0.5s all;

  animation: Entry-block 0.5s ease 1 alternate 0s forwards;
}
.three-button button {
  width: 317px;
  height: 350px;

  border-radius: 5%;
  /* animation-name: Entry-block;
    animation-duration: 5s; */
}

.off {
  opacity: 0;
  animation: Entry-block-back 0.5s ease-out 1 alternate 0s forwards;
  /* display: none; */
}
.off_fat-text {
  opacity: 1;
  animation: Animation-text 1s ease-out 1 alternate 0s forwards;
}

.backgraund-green {
  background-color: green;
}
.slide-3 {
  display: flex;
  position: relative;
}
.window-2 {
  margin-top: 100px;
  margin-left: 20%;
}
.yellow-tabl {
  top: 50%;
  left: 45%;

  position: absolute;
  z-index: 2;
}
.al-cen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.container {
  width: 100%;
  height: 300px;

  padding: auto;
}

.sponsors-block {
  width: 100%;
  height: 300px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.sponsors-block img {
  opacity: 0.5;
  transition: 0.3s all;
}

.sponsors-block img:hover {
  opacity: 1;
}
.slide-blackman{
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
.slide-blackman_big_block{
  width: 600px;
  height:100vh;
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.slide-blackman_block{
width: 600px;
height: 530px;
margin-left: 50px;
}
.block__big-text{
  font-size: 20px;
}
.block__two-element{
display: flex;
flex-direction: row;
justify-content: space-between;

}
.block__University{
font-size: 15px;
font-weight: 500;

}

.block__Showcase{
  font-size: 15px;
  font-weight: 500;

}
.slide-blackman_black-block{
  width: 550px;
  height: 550px;
  border-radius: 10px;
  background-color: black;
  top: 0;
  right: 0;
  display: flex;
  margin-right: 20px;
  justify-content: center;
  position: relative;
}
.black-block__yellow-block{
  width: 500px;
  height: 600px;
  border-radius: 10px;
background-color: #ddf247;
margin-top: 90px;
position: absolute;
z-index: 1;

}
.black-block__TUTORS{
  font-size: 22px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.363);
  margin-left: 20px;

}
.TUTORS__text-2{
  margin-top: 30px;
  font-size: 50px;
  font-weight: 700;
}
.black-block__bleck-man{
bottom: 0;
right: 0;
position: absolute;
z-index: 2;
}
@keyframes Entry-block {
  0% {
    margin-left: 600px;
  }
  100% {
    margin-left: 150px;
  }
}

@keyframes Entry-block-back {
  0% {
    margin-left: 150px;
  }
  100% {
    margin-left: 600px;
  }
}
@keyframes Animation-text {
  0% {
    margin-top: 150px;
  }
  100% {
    margin-top: 80px;
  }
}
