.popup_block {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-content {
  width: 800px;
  height: 600px;
  border-radius: 20px;
  background-color: rgb(0, 13, 14);
  position: relative;
                                                                                    
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s all;
  opacity: 0;
  animation:  popup-content 0.3s ease 1 alternate 0s forwards;
}
.opacity__1{
  opacity: 1;
}
.container_popup {
  /* width: 600px;
  height: 500px; */
  /* margin: auto; */
  /* background-color: #13fab5; */
}
.popup-cross {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.popup_fat-text {
  font-size: 50px;
  font-weight: 900;
  color: rgb(0, 238, 255);
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.popup-transparent-text {
  display: flex;
  justify-content: center;
  color: rgb(46, 116, 113);
}
.popup-input {
  width: 100%;
  /* width: 600px;
  height: 100px; */
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  
  font-size: 18px;
  
  padding: 20px 0;
  
  border: none;
  outline: none;
  
  background: #ddf247;
  box-shadow: 0px 21px 127px 22px rgba(221, 242, 71, 0.3);
}
.popup_button {
  width: 300px;
  height: 50px;
  background-color: rgb(0, 160, 160);
  display: flex;
  justify-content: center;
  border-radius: 30px;
  
  border: none;
  font-size: 15px;
}
.popup_link {
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.popup_basement {
  color: rgb(39, 38, 38);
  display: flex;
  justify-content: center;
}
.window-appears {
  width: 420px;
  height: 50px;
  background-color: #ff46468a;
  bottom: 10px;
  right: 10px;
  border-radius: 10px;
  
  position: fixed;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}
.window-appears__green {
  width: 420px;
  height: 50px;
  background-color: #66fd2a8a;
  bottom: 10px;
  right: 10px;
  border-radius: 10px;
  
  position: fixed;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-window-appears_container {
  width: 400px;
  height: 30px;
  display: flex;
  flex-direction: row;
}

.popup__text {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.text-center {
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: center;
}
.WindowAppears_exit {
  bottom: 15px;
  right: 15px;
  text-decoration: none;
  color: black;
  position: absolute;
}
.first-slide {
  /* width: 100%;
  height: 100%;
  
  position: relative;
  top: 0;
  left: 0;
  
  overflow: hidden; */
  background-color: #f4f4f4;
}
.slide {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: hidden;
  /* overflow-y: auto; */
}
.slide-blackman {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
.header {
  width: 600px;
  height: 100px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header p {
  font-size: 22px;
  font-weight: 250px;
  cursor: pointer;
}

.line-3 {
  width: 20px;
  height: 20px;

  margin-left: 40px;
  margin-bottom: 5px;
}
.right-part {
  width: 50%;
  height: 100vh;
  
  position: relative;
  right: 0;
  top: 0;
}
.line-first {
  width: 650px;
  right: -300px;
  bottom: 0;
  right: 0;
  position: absolute;
}
.list {
  position: absolute;
  z-index: 1;
  /* margin-bottom: 30px; */
  bottom: 30px;
  /* left: -140px; */
}
.men {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  opacity: 0;
}
.men-active {
  transition: 0.5s all;
  opacity: 1;
}
.Vector {
  position: absolute;
  z-index: 6;
  top:80%;
  right: 100px;
}
.line-4 {
  position: absolute;
  z-index: 4;
  left: 400px;
  top: 800px;
}
.Name {
  width: 376px;
  height: 67px;
  background: rgba(1, 1, 1, 0.5);
  backdrop-filter: blur(15px);
  position: absolute;
  z-index: 4;
  bottom: 0;
  color: aliceblue;
}
.redlap {
  position: absolute;
  z-index: 4;
  left: 30px;
  top: 15px;
  
  font-size: 40px;
}
.Name li {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 30%;
  position: absolute;
  z-index: 4;
}

.third-slide {
  width: 100%;
  height: 600px;
  background: #f4f4f4;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.left-slide {
  width: 600px;
}
.text-box{
  opacity: 1;
  transition: 0.5s all;
  animation: BoxText 0.5s ease 1 alternate 0s forwards;
}
.out{
  opacity: 0;
  animation: Box-text-back 0.5s ease-out 1 alternate 0s forwards;
}
.grey-block {
  width: 100%;
}
.slider {
  width: 250px;
  height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.slider button {
  width: 50px;
  height: 10px;
  
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.right-slide {
  width: 1200px;
  height: 905px;
}
.three-button {
  width: 1200px;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
  
  transition: 0.5s all;
  
  animation: Entry-block 0.5s ease 1 alternate 0s forwards;
}
.white-button{
  transition: 0.3s all;
  cursor: pointer;
}
.white-button:hover{
  width: 350px;
  height: 370px;
  background-color: #ddf247;
}
.three-button button {
  width: 317px;
  height: 350px;

  border-radius: 5%;
  /* animation-name: Entry-block;
    animation-duration: 5s; */
}

.off {
  opacity: 0;
  animation: Entry-block-back 0.5s ease-out 1 alternate 0s forwards;
  /* display: none; */
}
.off_fat-text {
  opacity: 1;
  animation: Animation-text 1s ease-out 1 alternate 0s forwards;
}

.backgraund-green {
  background-color: green;
}
.slide-3 {
  display: flex;
  position: relative;
}
.window-2 {
  margin-top: 100px;
  margin-left: 20%;
  position: relative;
}
.yellow-tabl {
  top: 50%;
  left: 45%;

  position: absolute;
  z-index: 2;
}
.al-cen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.container {
  width: 100%;
  height: 100vh;
  /* padding: auto; */
}
.little-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  margin-left: 140px;
}

.sponsors-block {
  width: 100%;
  height: 300px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.sponsors-block img {
  opacity: 0.5;
  transition: 0.3s all;
}

.sponsors-block img:hover {
  opacity: 1;
}
.slide-blackman {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
.slide-blackman_big_block {
  width: 600px;
  height: 100vh;
  margin-left: 10px;
  display: flex;
  align-items: center;
  opacity: 0;
}
.slide-blackman_big_block-active{
  transition: 0.3s all;
  opacity: 1;
  animation: BoxText 0.3s ease-out 1 alternate 0s forwards;
}
.slide-blackman_big_block-back{
  transition: 0.3s all;
  opacity: 1;
  animation: Box-text-back 0.3s ease-out 1 alternate 0s forwards;
}
.slide-blackman_block {
  width: 600px;
  height: 530px;
  margin-left: 50px;
}
.block__big-text {
  font-size: 20px;
}
.block__two-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.block__University {
  font-size: 15px;
  font-weight: 500;
}

.block__Showcase {
  font-size: 15px;
  font-weight: 500;
}
.slide-blackman_black-block {
  width: 550px;
  height: 550px;
  border-radius: 10px;
  background-color: black;
  top: 0;
  right: 0;
  display: flex;
  margin-right: 20px;
  justify-content: center;
  position: sticky;
  transition: 0.3s all;
  opacity: 1;
  animation: AnimationBlock 0.5s ease-out 1 alternate 0s forwards;
}
.off_block {
  opacity: 1;
  animation: AnimationBlock-back 0.3s ease-out 1 alternate 0s forwards;
  /* display: none; */
}
.black-block__yellow-block {
  width: 480px;
  height: 600px;
  border-radius: 10px;
  background-color: #ddf247;
  margin-top: 30px;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}
.black-block__TUTORS {
  font-size: 22px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.363);
  margin-left: 20px;
}
.TUTORS__text-2 {
  margin-top: 30px;
  font-size: 50px;
  font-weight: 700;
}
.black-block__bleck-man {
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
}
.with-thee-button {
  width: 1400px;
  height: 100vh;
}
.with-thee-button__text-one {
  display: flex;
  justify-content: center;
  font-size: 20px;
  
}
.with-thee-button__text-two {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 300;
}
.with-thee-button__three_button_row {
  width: 100%;
  height: 548px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

    opacity: 0;
  /* animation: ThreeButtonBlack 0.5s ease-out 1 alternate 0s forwards; */
}
.with-thee-button__three_button_row-active{
  transition: 1s all;
  opacity: 1;
}
.back{
  transition: 1s all;
  opacity: 0;
}
.three_button_row__button {
  width: 353px;
  height: 488px;
  border-radius: 10px;
  background-color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.three_button_row__button_white {
  width: 380px;
  height: 450px;
  border-radius: 10px;
  /* background-color: #f4f4f4; */
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;
}
.three_button_row__button_white:hover{
  width: 353px;
  height: 488px;
  border-radius: 10px;
  background-color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f4f4f4;
}
.three_button_row__button_white button:hover{
  background-color: #ddf247;
  color: black;
  box-shadow: 0px 0px 50px rgba(235, 238, 38, 0.765);
}
.three_button_row__container {
  width: 300px;
  height: 488px;
  color: #f4f4f4;
}
.New-png {
  position: absolute;
  z-index: 3;
  margin-top: 80px;
}
.with-thee-button__text-one__button h1 {
  margin-top: 40px;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}
.three_button_row__number {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 40px;
}
.three_button_row__par {
  margin-top: 30px;
  font-size: 17px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}
.three_button_row__yellow-button {
  margin-top: 70px;
  width: 100%;
  height: 50px;
  background-color: #ddf247;
  border-radius: 10px;
  border: none;
  transition: 0.3s all;
  color: black;
  font-size: 20px;
  cursor: pointer;
}
.off_black_block {
  opacity: 1;
  animation:ThreeButtonBlack-back 0.3s ease-out 1 alternate 0s forwards;
  /* display: none; */
}
.three_button_row__yellow-button:hover {
  box-shadow: 0px 0px 50px rgba(235, 238, 38, 0.765);
}

.three_button_row__grey-button:hover {
  box-shadow: 0px 0px 50px rgba(209, 209, 209, 0.765);
}

.container__DEVELOPMENT {
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.three_button_row__button_white {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.DEVELOPMENT {
  display: flex;
  justify-content: center;
}
.FAQs-slide {
  width: 100%;
  height: 100vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
}
.FAQs_container {
  width: 1500px;
  height: 100vh;
  /* background: red; */
}
.FAQs__text {
  display: flex;
  justify-content: center;
  font-size: 25px;
}
.FAQs_container__block {
  width: 100%;
  height: 150px;

  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  transition: 0.3s all;
}
.FAQs_container__white-lap {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ddf247;
  right: 20px;
  /* bottom: 200px; */
  position: absolute;
  z-index: 10;
}
.FAQs_container__black-line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.452);
}
.block__white-lap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddf247;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  /* position: absolute;
  right: 0;
  bottom: 0; */
cursor: pointer;
  z-index: 10;
  display: flex;
}
.FAQs__content {
  width: 80%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.FAQs__content p {
  /* padding: 0;
  top: 80px; */
  /* position: absolute; */
  opacity: 0;
  transition: 0.3s all;
}

.FAQs__content .active {
  /* padding: 10px;  */
  opacity: 1;
  display: flex;
}

.FAQ_S_container_active {
  margin-bottom: 40px;
}

.basement-slide {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.slide__yellow_block {
  width: 1178px;
  height: 410px;
  background-color: #ddf247;
  margin-top: 100px;
  border-radius: 13px;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  transition: 0.3s all;
}
.slide__yellow_block:hover {
  box-shadow: 0px 0px 50px rgba(235, 238, 38, 0.765);
}
.yellow_block__container {
  width: 800px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container__Start {
  font-size: 25px;
  text-align: center;
}
.Star__p {
  font-size: 25px;
  font-weight: 300;
}
.basement {
  width: 100%;
  height: 60vh;
  background-color: black;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  color: #f4f4f4;
  display: flex;
  justify-content: center;

}
.basement__container {
  width: 1178px;
  height: 100%;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  position: relative;

}
.basement__container__up{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom:120px ;
}
.Macode__text{
  width: 50%;
  font-size: 18px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}
.lap{
  width: 30px;
  height:30px;
  background-color: #ddf247;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__up__Macode{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin:0px 0px 0px 20px; */
}
.Macode{
  font-size: 25px;
  margin:0px 0px 0px 20px;
}
.basement__container__low {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  margin-bottom: 30px;
}
.links {
/* color: white; */
transition: 0.3s all;
}

.links:hover{
color: rgb(230, 149, 0);
}
.container__low__text {
  display: flex;
  flex-direction: row;
}
@keyframes Entry-block {
  0% {
    margin-left: 600px;
  }
  100% {
    margin-left: 150px;
  }
}

@keyframes Entry-block-back {
  0% {
    margin-left: 150px;
  }
  100% {
    margin-left: 600px;
  }
}
@keyframes Animation-text {
  0% {
    margin-top: 150px;
  }
  100% {
    margin-top: 80px;
  }
}
@keyframes AnimationBlock {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes AnimationBlock-back {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 1000px;
  }
}
@keyframes ThreeButtonBlack {
  0% {
    margin-left: 1200px;
  }
  100% {
    margin-left:  0px;
  }
}
@keyframes ThreeButtonBlack-back{
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 1200px;
  }
}
@keyframes popup-content{
  0% {
    margin-bottom: 1000px;
  }
  100% {
    margin-bottom: 0px;
  }
}
@keyframes BoxText{
  0%{
    margin-left: -500px;
  }
  100%{
    margin-right: 0px;
  }
}
@keyframes Box-text-back{
 0%{
    margin-left: 0px;
  }
  100%{
    margin-right: -500px;
  }
}